HELP.md
*.pem

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

.dbdata
.dbdatapg
.pytest_cache
.scannerwork
educatrice/__pycache__
educatrice/__pycache__/*
educatrice/tests/__pycache__
educatrice/tests/__pycache__/*
educatrice/tests/__init__.py
educatrice/migrations/__pycache__
educatrice/migrations/__pycache__/*
garderie_educatrice/__pycache__/
garderie_educatrice/__pycache__/*
.pytest_cache/
.pytest_cache/*
.pytest_cache/v/cache/
.pytest_cache/v/cache/*
htmlcov/
htmlcov/*
.coverage
.coverage/*