HELP.md

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

.dbdata
.dbdatapg
.pytest_cache
educatrice/__pycache__
educatrice/__pycache__/*
educatrice/tests/__pycache__
educatrice/tests/__pycache__/*
educatrice/tests/__init__.py
educatrice/migrations/
educatrice/migrations/*
garderie_educatrice/__pycache__/
garderie_educatrice/__pycache__/*